<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <header th:insert="layout/header :: header"></header>

    <div class="container">
        <h1 class="title">Регистрироваться</h1>
        <div class="form-block">
            <form th:action="@{/registration}" th:object="${userForm}" th:method="post">
                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Имя:</label>
                    <input type="text" class="form-control" id="usernameInput" th:field="*{username}">
                </div>
                <div class="mb-3">
                    <label for="lastnameInput" class="form-label">Фамилия:</label>
                    <input type="text" class="form-control" id="lastnameInput" th:field="*{lastname}">
                </div>
                <div class="mb-3">
                    <label for="phoneInput" class="form-label">Телефон:</label>
                    <input type="text" class="form-control" id="phoneInput" th:field="*{phone}">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">E-mail:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="cityInput" class="form-label">Город:</label>
                    <input type="text" class="form-control" id="cityInput" th:field="*{country}">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Пароль:</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Решистрироваться</button>
            </form>
        </div>
    </div>

    <footer th:insert="layout/footer :: footer"></footer>
</body>
</html>